@charset "UTF-8";

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* Box sizing rules */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  padding: 0;
  margin: 0;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */

a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
  font: inherit;
  border: 0;
  background-color: transparent;
  padding: 0;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  bottom: 0;
  outline: none;
}

button {
  cursor: pointer;
}

/* Remove all animations and transitions for people that prefer not to see them */

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}

/*Основной блок*/

._title {
  font-size: 48px;
  font-weight: 600;
  color: #000;
  text-align: center;
}

/*Готовые классы*/

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/*Body*/

body {
  font-family: "Poppins";
  font-size: 16px;
  color: #8F95A5;
}

body._lock {
  overflow: hidden;
}

body._lock::before {
  opacity: 1;
  visibility: visible;
}

body::before {
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 34, 47, 0.7);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

/*Container*/

._container {
  width: 100%;
  max-width: 1360px;
  padding: 0px 15px;
  margin: 0 auto;
}

/*Wrapper*/

.wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #263238;
  background-color: #263238;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 100%;
  max-width: 220px;
  min-height: 70px;
}

.btn--void {
  color: #000;
  border: 2px solid #263238;
  background-color: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 175px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #000000;
}

.header__logo {
  font-size: 36px;
}

.header__logo span {
  color: #939393;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__btn {
  font-size: 24px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.menu__list .menu-item {
  font-size: 20px;
}

.menu__list-link {
  font-size: 20px;
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom: 1px solid #C4C4C4;
  width: 100%;
}

.menu__header-logo {
  font-size: 36px;
  color: #000;
}

.menu__header-logo span {
  color: #939393;
}

.menu__header-close {
  width: 20px;
  height: 20px;
  position: relative;
}

.menu__header-close span {
  width: 100%;
  height: 3px;
  background-color: #39515E;
  border-radius: 1px;
  position: absolute;
  left: 0;
  pointer-events: none;
}

.menu__header-close span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__header-close span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 15px;
  cursor: pointer;
  z-index: 5;
  position: relative;
}

.burger span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 30px;
  height: 3px;
  border-radius: 1px;
  background-color: #39515E;
  pointer-events: none;
}

.burger span:first-child {
  top: calc(50% - 6px);
}

.burger span:last-child {
  width: 21px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  top: calc(50% + 6px);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #C4C4C4;
  padding-top: 55px;
  padding-bottom: 55px;
}

.footer__logo {
  font-size: 36px;
  color: #000;
}

.footer__logo span {
  color: #939393;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer__nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 10px;
  font-size: 24px;
  font-weight: 500;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__nav-item:not(:last-child)::before {
  content: "•";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding-bottom: 50px;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__info {
  width: 100%;
  max-width: 545px;
}

.intro__title {
  position: relative;
}

.intro__title:not(:last-child) {
  margin-bottom: 40px;
}

.intro__title h1 {
  font-size: 64px;
  font-weight: 600;
  color: #000;
  position: relative;
  z-index: 2;
  line-height: 125%;
}

.intro__title img {
  width: 85px;
  position: absolute;
  right: 50px;
  bottom: 50px;
  z-index: 1;
}

.intro__subtitle {
  font-size: 24px;
}

.intro__subtitle:not(:last-child) {
  margin-bottom: 60px;
}

.intro__btn {
  max-width: 438px;
  min-height: 100px;
}

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
}

.skills__title:not(:last-child) {
  margin-bottom: 92px;
}

.skills__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 22px;
  max-width: 435px;
}

.skills__item--first {
  height: 100%;
}

.skills__item--first .skills__item-btn {
  max-width: 230px;
}

.skills__item-img:not(:last-child) {
  margin-bottom: 30px;
}

.skills__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills__item-info:not(:last-child) {
  margin: 0px 0px 35px 0px;
}

.skills__item-title {
  font-size: 30px;
  font-weight: 600;
  color: #263238;
}

.skills__item-title:not(:last-child) {
  margin-bottom: 30px;
}

.skills__item-text {
  font-size: 16px;
}

.skills__item-text p:not(:last-child) {
  margin-bottom: 40px;
}

.skills__item-btn {
  max-width: 218px;
}

.skills__column--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.skills__subrow--first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.skills__item--third {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__subrow--second .skills__item-info {
  max-width: 340px;
}

.skills__item--fourth {
  max-width: 885px;
}

.skills__item--fourth .skills__item-btn {
  margin-top: 35px;
}

.skills__item--fourth .skills__item-info {
  margin-bottom: 0;
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 635px;
}

.about__title {
  text-align: left;
}

.about__title:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.about__text {
  font-size: 20px;
}

.about__text:not(:last-child) {
  margin-bottom: 65px;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item-value {
  font-size: 48px;
  font-weight: 600;
  color: #000;
}

.about__item-name {
  font-size: 20px;
  text-align: center;
}

.pricing {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pricing__title:not(:last-child) {
  margin-bottom: 50px;
}

.pricing__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.pricing__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.pricing__item-info:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.pricing__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.pricing__item-img:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.pricing__item-title {
  font-size: 30px;
  font-weight: 600;
  color: #263238;
}

.pricing__item-title:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.pricing__item-text {
  font-size: 20px;
}

.pricing__item-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background-color: #EEEEEE;
  border-radius: 5px;
  padding: 5px 18px;
  font-size: 18px;
}

.pricing__item-cost span {
  font-size: 30px;
  color: #263238;
}

.contacts {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 770px;
}

.contacts__title {
  text-align: left;
}

.contacts__title:not(:last-child) {
  margin: 0px 0px 40px 0px;
}

.contacts__text {
  font-size: 20px;
}

.contacts__text:not(:last-child) {
  margin-bottom: 50px;
}

.contacts__form {
  width: 100%;
}

.contacts__form-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.contacts__form-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #8F95A5;
  color: #000;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  min-height: 70px;
  -webkit-transition: -webkit-box-shadow 0.3s ease 0s;
  transition: -webkit-box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s;
  transition: box-shadow 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.contacts__form-input::-webkit-input-placeholder {
  color: #8F95A5;
  font-size: 16px;
}

.contacts__form-input::-moz-placeholder {
  color: #8F95A5;
  font-size: 16px;
}

.contacts__form-input:-ms-input-placeholder {
  color: #8F95A5;
  font-size: 16px;
}

.contacts__form-input::-ms-input-placeholder {
  color: #8F95A5;
  font-size: 16px;
}

.contacts__form-input::placeholder {
  color: #8F95A5;
  font-size: 16px;
}

.contacts__form-input._error {
  -webkit-box-shadow: 0px 0px 5px 0px red;
          box-shadow: 0px 0px 5px 0px red;
}

.contacts__form-btn {
  max-width: 264px;
  min-height: 70px;
}

@media (min-width: 767.98px) {
  .menu__list-item {
    position: relative;
  }

  .menu__list-item::before {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: #000;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__header {
    display: none;
  }

  .skills__item--fourth {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 767.98px) and (any-hover: hover) {
  .menu__list-item:hover::before {
    width: 100%;
  }
}

@media (max-width: 1360px) {
  ._title {
    font-size: calc(24px + 24 * ((100vw - 320px) / 1040));
  }

  .btn {
    padding: calc(10px + 5 * ((100vw - 320px) / 1040));
  }

  .btn {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1040));
  }

  .header {
    padding-top: calc(10px + 10 * ((100vw - 320px) / 1040));
  }

  .header {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 1040));
  }

  .header {
    min-height: calc(100px + 75 * ((100vw - 320px) / 1040));
  }

  .header__logo {
    font-size: calc(24px + 12 * ((100vw - 320px) / 1040));
  }

  .header__btn {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1040));
  }

  .menu {
    gap: calc(20px + 20 * ((100vw - 320px) / 1040));
  }

  .menu__list {
    gap: calc(20px + 20 * ((100vw - 320px) / 1040));
  }

  .menu__list .menu-item {
    font-size: calc(10px + 10 * ((100vw - 320px) / 1040));
  }

  .menu__list-link {
    font-size: calc(10px + 10 * ((100vw - 320px) / 1040));
  }

  .menu__header {
    padding-top: calc(20px + 15 * ((100vw - 320px) / 1040));
  }

  .menu__header {
    padding-bottom: calc(20px + 15 * ((100vw - 320px) / 1040));
  }

  .menu__header-logo {
    font-size: calc(24px + 12 * ((100vw - 320px) / 1040));
  }

  .footer__wrapper {
    padding-top: calc(25px + 30 * ((100vw - 320px) / 1040));
  }

  .footer__wrapper {
    padding-bottom: calc(25px + 30 * ((100vw - 320px) / 1040));
  }

  .footer__logo {
    font-size: calc(24px + 12 * ((100vw - 320px) / 1040));
  }

  .footer__nav {
    gap: calc(5px + 5 * ((100vw - 320px) / 1040));
  }

  .footer__nav-item {
    gap: calc(5px + 5 * ((100vw - 320px) / 1040));
  }

  .footer__nav-item {
    font-size: calc(10px + 14 * ((100vw - 320px) / 1040));
  }

  .intro {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 1040));
  }

  .intro__title:not(:last-child) {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1040));
  }

  .intro__title h1 {
    font-size: calc(24px + 40 * ((100vw - 320px) / 1040));
  }

  .intro__title img {
    width: calc(50px + 35 * ((100vw - 320px) / 1040));
  }

  .intro__subtitle {
    font-size: calc(14px + 10 * ((100vw - 320px) / 1040));
  }

  .intro__subtitle:not(:last-child) {
    margin-bottom: calc(35px + 25 * ((100vw - 320px) / 1040));
  }

  .intro__btn {
    max-width: calc(289px + 149 * ((100vw - 320px) / 1040));
  }

  .intro__btn {
    min-height: calc(60px + 40 * ((100vw - 320px) / 1040));
  }

  .skills {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 1040));
  }

  .skills {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 1040));
  }

  .skills__title:not(:last-child) {
    margin-bottom: calc(40px + 52 * ((100vw - 320px) / 1040));
  }

  .skills__item {
    padding: calc(16px + 6 * ((100vw - 320px) / 1040));
  }

  .skills__item-img:not(:last-child) {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1040));
  }

  .skills__item-title {
    font-size: calc(18px + 12 * ((100vw - 320px) / 1040));
  }

  .skills__item-title:not(:last-child) {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1040));
  }

  .skills__item-text {
    font-size: calc(12px + 4 * ((100vw - 320px) / 1040));
  }

  .skills__item-text p:not(:last-child) {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1040));
  }

  .about {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 1040));
  }

  .about {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 1040));
  }

  .about__info {
    max-width: calc(100px + 535 * ((100vw - 320px) / 1040));
  }

  .about__text {
    font-size: calc(13px + 7 * ((100vw - 320px) / 1040));
  }

  .about__text:not(:last-child) {
    margin-bottom: calc(50px + 15 * ((100vw - 320px) / 1040));
  }

  .about__item-value {
    font-size: calc(24px + 24 * ((100vw - 320px) / 1040));
  }

  .about__item-name {
    font-size: calc(13px + 7 * ((100vw - 320px) / 1040));
  }

  .pricing {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 1040));
  }

  .pricing {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 1040));
  }

  .pricing__title:not(:last-child) {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 1040));
  }

  .pricing__item-title {
    font-size: calc(18px + 12 * ((100vw - 320px) / 1040));
  }

  .pricing__item-text {
    font-size: calc(13px + 7 * ((100vw - 320px) / 1040));
  }

  .pricing__item-cost {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1040));
  }

  .pricing__item-cost span {
    font-size: calc(18px + 12 * ((100vw - 320px) / 1040));
  }

  .contacts {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 1040));
  }

  .contacts {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 1040));
  }

  .contacts__info {
    max-width: calc(200px + 570 * ((100vw - 320px) / 1040));
  }

  .contacts__text {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1040));
  }

  .contacts__text:not(:last-child) {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 1040));
  }

  .contacts__form-input {
    min-height: calc(50px + 20 * ((100vw - 320px) / 1040));
  }

  .contacts__form-btn {
    min-height: calc(50px + 20 * ((100vw - 320px) / 1040));
  }
}

@media (max-width: 767.98px) {
  .header__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: 50%;
    min-height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 20px;
  }

  .menu::before {
    display: block;
  }

  .menu._active {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .menu__list .menu-item {
    font-size: 28px;
    font-weight: 500;
  }

  .menu__list-link {
    font-size: 28px;
    font-weight: 500;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .intro__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intro__info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 100%;
    text-align: center;
  }

  .intro__title h1 br {
    display: none;
  }

  .intro__title img {
    display: none;
  }

  .intro__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .skills__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .skills__column--first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }

  .skills__item {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .skills__subrow--second {
    display: none;
  }

  .skills__item--fourth .skills__item-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .skills__item--fourth .skills__item-title {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .skills__item--fourth .skills__item-text {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    max-width: 100%;
  }

  .about__title {
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .about__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }

  .about__items {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .about__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0 auto;
  }

  .pricing__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .pricing__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .pricing__item-img {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .pricing__item-title {
    text-align: center;
  }

  .pricing__item-text {
    text-align: center;
  }

  .contacts__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .contacts__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .contacts__info {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }

  .contacts__form {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .contacts__form-group {
    gap: 0;
  }

  .contacts__form-btn {
    margin-left: -10px;
  }
}

@media (max-width: 767.98px) and (max-width: 1360px) {
  .menu {
    padding-left: calc(15px + 15 * ((100vw - 320px) / 1040));
  }

  .menu {
    padding-right: calc(15px + 15 * ((100vw - 320px) / 1040));
  }
}

@media (max-width: 575.98px) {
  .menu {
    width: 100%;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .skills__column--first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .skills__item-img {
    margin: 0 auto;
  }

  .skills__subrow--first {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about__text:not(:last-child) {
    margin: 0px 0px 20px 0px;
  }

  .about__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .contacts__form-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }

  .contacts__form-btn {
    margin-left: 0;
    max-width: 100%;
    min-height: 60px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    color: #000;
    background-color: #fff;
  }

  .btn--void:hover {
    background-color: #263238;
    color: #fff;
  }

  .footer__nav-item:hover {
    color: #000;
  }

  .footer__nav-item:hover::before {
    color: #8F95A5;
  }
}